<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Data-Logic Intersys QR Code Event System">
	<meta name="keywords" content="Data, Events, QR Code, CNCF, Rivers, State">
	<meta name="author" content="Data-Logic Intersys">

	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<title>Data-Logic Intersys | Office</title>

	<link href="css/app.css" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" ng-href="dashboard">
          <span class="align-middle">{{pageTitle}}</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Overview
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" ng-href="dashboard">
              <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
            </a>
					</li>

					<li class="sidebar-header">
						Database
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" ng-href="categories">
              <i class="align-middle" data-feather="target"></i> <span class="align-middle">Categories</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" ng-href="everyone">
              <i class="align-middle" data-feather="database"></i> <span class="align-middle">Everyone</span>
            </a>
					</li>

					<!-- <li class="sidebar-header">
						Events
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" disabled ng-href="add-checker">
              <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Ticket Checker</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" disabled ng-href="checkers">
              <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Checkers</span>
            </a>
					</li> -->

					<li class="sidebar-header">
						Office Users
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" ng-href="add-user">
              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">New User</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" ng-href="all-users">
              <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
            </a>
					</li>

					<li class="sidebar-header">
						Personalization
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" ng-href="profile">
              <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" ng-href="notifications">
              <i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notifications</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" ng-href="settings">
              <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
            </a>
					</li>

				</ul>

				<div class="sidebar-cta">
					<div class="sidebar-cta-content">
						<strong class="d-inline-block mb-2">Powered by Xnyder</strong>
						<div class="mb-3 text-sm">

						</div>
						<a href="https://xnyder.co" target="_blank" class="btn btn-primary btn-block">Visit us</a>
					</div>
				</div>
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex">
          <i class="hamburger align-self-center"></i>
        </a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="bell"></i>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">
								<div class="dropdown-menu-header">
									Notifications
								</div>
								<div class="list-group">
									<a href="" ng-if="allNotifications != 'no data'" ng-repeat="notification in allNotifications" class="list-group-item">
										<div class="row no-gutters align-items-center">
											<div class="col-2">
												<i ng-if="notification.type == 'Login Activity'" class="text-primary" data-feather="log-in"></i>
												<i ng-if="notification.type == 'Logout Activity'" class="text-danger" data-feather="log-out"></i>
												<i ng-if="notification.type == 'Add Activity'" class="text-success" data-feather="check-circle"></i>
												<i ng-if="notification.type == 'Delete Activity'" class="text-danger" data-feather="trash-2"></i>
												<i ng-if="notification.type == 'Edit Activity'" class="text-primary" data-feather="edit-3"></i>
											</div>
											<div class="col-10">
												<div class="text-dark" ng-if="notification.type == 'Login Activity'">{{notification.type}}</div>
												<div class="text-dark" ng-if="notification.type == 'Logout Activity'">{{notification.type}}</div>
												<div class="text-dark" ng-if="(notification.type != 'Login Activity') && (notification.type != 'Logout Activity')">Action Performed</div>
												<div class="text-muted small mt-1">{{notification.action}}</div>
												<div class="text-muted small mt-1">{{notification.added_date | fil_date | date}} @ {{notification.added_date | fil_time | fil_fmt_time}}</div>
											</div>
										</div>
									</a>
									<a href="" ng-if="allNotifications == 'no data'" class="list-group-item">
										<div class="row no-gutters align-items-center">
											<div class="col-2">
												<i class="text-primary" data-feather="bell-off"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">No notifications</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<a ng-href="notifications" class="text-muted">Show all notifications</a>
								</div>
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                <i class="align-middle" data-feather="settings"></i>
              </a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                <img ng-src="{{loggedInUserImage}}" class="avatar img-fluid rounded mr-1" alt="{{loggedInName}}" /> <span class="text-dark">{{loggedInName}}</span>
              </a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" ng-href="profile"><i class="align-middle mr-1" data-feather="user"></i> Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" ng-href="settings"><i class="align-middle mr-1" data-feather="settings"></i> Settings</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" ng-click="doLogout()">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h1 class="h3 mb-3">{{pageTitle}}</h1>
						</div>

						<div class="col-auto ml-auto text-right mt-n1">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<li class="breadcrumb-item"><a ng-href="everyone">Everyone</a></li>
									<li class="breadcrumb-item" ng-if="main_role != 3 && main_role != 4 && main_role != 5 && main_role != 6 && main_role != 7 && main_role != 8"><a data-toggle="modal" data-target="#addCategoryModal">Add Category</a></li>
									<li class="breadcrumb-item active" aria-current="page">{{pageTitle}}</li>
								</ol>
							</nav>
						</div>
					</div>

					<div class="row">
						<div class="col-12">

							<div class="card" ng-if="show_loader">
								<div class="card-header">
									<h5 class="card-title mb-0"></h5>
								</div>
								<div class="card-body">
									<div class="mb-2 text-center">
										<div class="spinner-grow spinner-grow-lg text-danger mr-2 " role="status">
											<span class="sr-only">Loading red...</span>
										</div>
										<div class="spinner-grow spinner-grow-lg text-warning mr-2 " role="status">
											<span class="sr-only">Loading yellow...</span>
										</div>
										<div class="spinner-grow spinner-grow-lg text-success mr-2 " role="status">
											<span class="sr-only">Loading green...</span>
										</div>
									</div>
								</div>
							</div>

							<div class="card" ng-if="show_loader == undefined && (main_role != 3 && main_role != 4 && main_role != 5 && main_role != 6 && main_role != 7 && main_role != 8)">
								<div class="card-header">
									<h5 class="card-title mb-0">Blog categories</h5>
								</div>
								<div class="card-body">

									<div class="row" ng-if="filterShow == false">
                    <div class="col-md-3">
                      <button type="button" class="btn btn-primary" ng-click="filterByDate()"><i class="fa fa-filter"></i> Date</button>
                    </div>
                  </div>

									<div class="row">
	                  <div class="col-md-12" ng-if="filterShow == true">
	                    <div class="card">
	                      <div class="card-header bg-primary">
	                        <strong class="card-title text-light">Filter Information</strong>
	                      </div>
	                      <div class="card-body card-block">
	                        <form name="filterForm" novalidate>
	                          <div class="row form-group">
	                            <div class="col-12 col-sm-6">
	                              <label for="startdate" class=" form-control-label">Start Date</label>
	                              <input type="date" ng-required="true" name="startdate" ng-model="filter_var.startdate" class="form-control">
	                              <span class="text-danger" ng-if="filterForm.startdate.$error.required && filterForm.$submitted">Select Start Date</span>
	                            </div>
	                            <div class="col-12 col-sm-6">
	                              <label for="enddate" class=" form-control-label">End Date</label>
	                              <input type="date" ng-required="true" name="enddate" ng-model="filter_var.enddate" class="form-control">
	                              <span class="text-danger" ng-if="filterForm.enddate.$error.required && filterForm.$submitted">Select End Date</span>
	                            </div>
	                            <div class="col-12 col-sm-6 mt-3">
	                              <span class="text-danger" ng-if="filter_var.startdate > filter_var.enddate && filterForm.$submitted">Invalid Range</span>
	                            </div>
	                          </div>
	                          <button type="submit" ng-click="filterForm.$valid && filter()" class="btn btn-success mt-3">
	                            Filter <i class="fa fa-filter"></i>
	                          </button>
	                        </form>
	                      </div>
	                    </div>
	                  </div>
	                </div>

									<div class="row mt-3">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" name="search" ng-disabled="allCategories == null" ng-model="search" placeholder="Search all records ..." class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>

									<!-- <div class="row" ng-if="allCategoriesStatus == undefined">
										<div class="col-12 col-lg-4" ng-repeat="category in allCategories | limitTo:numLimit:start | filter: search">
											<div class="card">
												<div class="card-header">
													<h5 class="card-title mb-0">#{{$index + 1 | number}}</h5>
												</div>
												<div class="card-body">
													<p class="card-text">Added By : {{category.added_fullname}}</p>
													<p class="card-text">Category : {{category.category}}</p>
													<p class="card-text">Created : {{category.added_date | fil_date | date}} @ {{category.added_date | fil_time | fil_fmt_time}}</p>
													<p class="card-text">Updated : {{category.last_modified | fil_date | date}} @ {{category.last_modified | fil_time | fil_fmt_time }}</p>
													<button title="View Posts in Category"  ng-click="view_category(category.uuid, category.category)" class="btn btn-primary">View Category</button>
												</div>
											</div>
										</div>
									</div> -->

									<div class="row d-md-none d-lg-none d-xl-none" ng-if="allCategoriesStatus == undefined">
										<div class="col-12">
											<div class="card" ng-repeat="category in allCategories | limitTo:numLimit:start | filter: search">
												<div class="card-body" >

													<div class="media" >

														<div class="media-body">
															<small class="float-right text-navy">
																<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-middle"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> {{category.added_date | fil_date | date}}
																<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock align-middle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> {{category.added_date | fil_time | fil_fmt_time}}
															</small>
															<strong>{{category.added_fullname}}</strong> <br>
															<p class="card-text mt-3">Created the {{category.category}} category</p>
															<p class="card-text mt-3">Link : /{{category.stripped}}</p>
															<small class="text-muted">Updated -
																<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-middle"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> {{category.last_modified | fil_date | date}}
																<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock align-middle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> {{category.last_modified | fil_time | fil_fmt_time }}
															</small><br>
														</div>
													</div>
													<button title="View Category Signup" ng-click="show_category(category.stripped)" class="btn btn-outline-primary mt-3"><i class="far fa-eye"></i></button>
													<button title="View Category History" data-toggle="modal" data-target="#historyModal" ng-click="loadHistory(category.uuid)" class="btn btn-outline-primary mt-3"><i class="far fa-calendar"></i></button>
													<button title="Edit Category" data-toggle="modal" data-target="#editCategoryModal" ng-click="edit_category(category.uuid, category.category)" class="btn btn-outline-primary mt-3"><i class="far fa-edit"></i></button>
												</div>

											</div>
										</div>
									</div>

									<div class="table-responsive table--no-card mb-4 d-none d-md-block d-lg-block" ng-if="allCategoriesStatus == undefined">
										<table class="table table-borderless table-striped" >
											<thead>
												<tr>
													<th>#</th>
													<th>By</th>
													<th>Category</th>
													<th>Link</th>
													<th>Created</th>
													<th>Updated</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="category in allCategories | limitTo:numLimit:start | filter: search">
													<td>#{{$index + 1 | number}}</td>
													<td>{{category.added_fullname}}</td>
													<td>{{category.category}}</td>
													<td>/{{category.stripped}}</td>
													<td>{{category.added_date | fil_date | date}} @ {{category.added_date | fil_time | fil_fmt_time}}</td>
													<td>{{category.last_modified | fil_date | date}} @ {{category.last_modified | fil_time | fil_fmt_time }}</td>
													<td class="table-action">
														<button title="View Category Signup" ng-click="show_category(category.stripped)" class="btn btn-outline-primary"><i class="far fa-eye"></i></button>
														<button title="View Category History" data-toggle="modal" data-target="#historyModal" ng-click="loadHistory(category.uuid)" class="btn btn-outline-primary"><i class="far fa-calendar"></i></button>
														<button title="Edit Category" data-toggle="modal" data-target="#editCategoryModal" ng-click="edit_category(category.uuid, category.category)" class="btn btn-outline-primary"><i class="far fa-edit"></i></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>

									<nav aria-label="" class="mt-3 text-center" ng-if="allCategoriesStatus == undefined">
										<ul class="pagination pagination-lg">
											<li class="page-item"><a class="page-link" title="Previous Page" style="cursor: pointer;" ng-hide="hidePrev()" ng-click="PrevPage()"><i class="fas fa-angle-left"></i></a></li>
											<li class="page-item active"><a class="page-link" title="Current Page">{{currentPage}}</a></li>
											<li class="page-item"><a class="page-link">...</a></li>
											<li class="page-item"><a class="page-link" title="Total Number Of Pages">{{pages}}</a></li>
											<li class="page-item"><a class="page-link" title="Next Page" style="cursor: pointer;" ng-hide="hideNext()" ng-click="nextPage()"><i class="fas fa-angle-right"></i></a></li>
										</ul>
									</nav>

									<div class="alert alert-danger alert-dismissible mt-3" role="alert" ng-if="allCategoriesStatus != undefined">
										<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button> -->
										<div class="alert-icon">
											<i class="far fa-fw fa-bell"></i>
										</div>
										<div class="alert-message">
											<strong>Error</strong> {{allCategoriesStatus}}
										</div>
									</div>

								</div>
							</div>

							<div class="card" ng-if="show_loader == undefined && (main_role == 3 || main_role == 4 || main_role == 5 || main_role == 6 || main_role == 7 || main_role == 8)">
								<div class="card-header bg-danger">
									<h5 class="card-title mb-0 text-light">Unauthorized access</h5>
								</div>
								<div class="card-body bg-danger">
									<blockquote class="blockquote mb-0">
	                  <p class="text-light">You do not have access to this data</p>
                    <footer class="blockquote-footer text-light">Error
                      <cite title="Error">Occured</cite>
                    </footer>
                  </blockquote>

								</div>
							</div>

							<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Add Category</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body m-3">
											<form name="addCategoryForm" novalidate>
                        <div class="row form-group">
                          <div class="col-12 col-sm-12">
                            <label for="" class=" form-control-label">Category Name</label>
                            <input type="text" ng-model="category.name" name="category_name" ng-required="true" ng-minlength="3" ng-maxlength="149" placeholder="" class="form-control">
                            <span class="text-danger mt-3" ng-if="addCategoryForm.category_name.$error.required && addCategoryForm.$submitted">Enter Category Name</span>
                            <span class="text-danger mt-3" ng-if="addCategoryForm.category_name.$error.minlength && addCategoryForm.$submitted">Add more characters min length is 3</span>
                            <span class="text-danger mt-3" ng-if="addCategoryForm.category_name.$error.maxlength && addCategoryForm.$submitted">Reduce characters max length reached</span>
                          </div>
                        </div>
                        <div class="row form-group" ng-if="shouldIShow == false || shouldIShow == undefined">
                          <div class="col-6">
                            <button type="sumbit" ng-click="addCategoryForm.$valid && saveCategory()" class="btn btn-success">
                              Save <i class="fa fa-check"></i>
                            </button>
                          </div>
                        </div>
                        <div class="row form-group" ng-if="shouldIShow">
                          <form name="complete_action_form" novalidate>
                            <label class="form-control-label col-12">Are you sure you want to complete this action ?</label>
                            <div class="col-6 col-sm-6">
                              <button type="button" ng-click="continue_action()" ng-disabled="clickOnce" class="btn btn-success btn-block">
                                Yes <i class="fa fa-check"></i>
                              </button>
                            </div>
                            <div class="col-6 col-sm-6">
                              <button type="button" ng-click="removeConfirmModal()" class="btn btn-danger btn-block close-modal">
                                No <i class="fa fa-times"></i>
                              </button>
                            </div>
                          </form>
                        </div>
												<div class="alert alert-danger alert-dismissible mt-3" role="alert" ng-if="showStatus">
													<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button> -->
													<div class="alert-icon">
														<i class="far fa-fw fa-bell"></i>
													</div>
													<div class="alert-message">
														<strong>Error</strong> {{showStatus}}
													</div>
												</div>
												<div class="alert alert-success alert-dismissible mt-3" role="alert" ng-if="showSuccessStatus">
													<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button> -->
													<div class="alert-icon">
														<i class="far fa-fw fa-bell"></i>
													</div>
													<div class="alert-message">
														<strong>Success</strong> {{showSuccessStatus}}
													</div>
												</div>
                      </form>
											<!-- <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p> -->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>

							<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Edit Category</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body m-3">
											<form name="editCategoryForm" novalidate>
                        <div class="row form-group">
                          <div class="col-12 col-sm-12">
                            <label for="" class=" form-control-label">Category Name</label>
                            <input type="text" ng-model="category.edit_name" name="category_name" ng-required="true" ng-minlength="3" ng-maxlength="149" placeholder="" class="form-control">
                            <span class="text-danger mt-3" ng-if="editCategoryForm.category_name.$error.required && editCategoryForm.$submitted">Enter Category Name</span>
                            <span class="text-danger mt-3" ng-if="editCategoryForm.category_name.$error.minlength && editCategoryForm.$submitted">Add more characters min length is 3</span>
                            <span class="text-danger mt-3" ng-if="editCategoryForm.category_name.$error.maxlength && editCategoryForm.$submitted">Reduce characters max length reached</span>
                          </div>
                        </div>
                        <div class="row form-group" ng-if="shouldIShow == false || shouldIShow == undefined">
                          <div class="col-6">
                            <button type="sumbit" ng-click="editCategoryForm.$valid && go_ahead()" class="btn btn-success">
                              Save <i class="fa fa-check"></i>
                            </button>
                          </div>
                        </div>
                        <div class="row form-group" ng-if="shouldIShow">
                          <form name="complete_action_form" novalidate>
                            <label class="form-control-label col-12">Are you sure you want to complete this action ?</label>
                            <div class="col-6 col-sm-6">
                              <button type="button" ng-click="continue_action()" ng-disabled="clickOnce" class="btn btn-success btn-block">
                                Yes <i class="fa fa-check"></i>
                              </button>
                            </div>
                            <div class="col-6 col-sm-6">
                              <button type="button" ng-click="removeConfirmModal()" class="btn btn-danger btn-block close-modal">
                                No <i class="fa fa-times"></i>
                              </button>
                            </div>
                          </form>
                        </div>
												<div class="alert alert-danger alert-dismissible mt-3" role="alert" ng-if="showStatus">
													<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button> -->
													<div class="alert-icon">
														<i class="far fa-fw fa-bell"></i>
													</div>
													<div class="alert-message">
														<strong>Error</strong> {{showStatus}}
													</div>
												</div>
												<div class="alert alert-success alert-dismissible mt-3" role="alert" ng-if="showSuccessStatus">
													<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button> -->
													<div class="alert-icon">
														<i class="far fa-fw fa-bell"></i>
													</div>
													<div class="alert-message">
														<strong>Success</strong> {{showSuccessStatus}}
													</div>
												</div>
                      </form>
											<!-- <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p> -->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>

							<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Category History</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body m-3">
											<div class="row">
		                    <div class="col-md-12">
		                      <div class="form-group">
		                        <div class="input-group">
		                          <input type="text" name="search" ng-disabled="history == null" ng-model="search_history" placeholder="Search all records ..." class="form-control">
		                        </div>
		                      </div>
		                    </div>
		                  </div>

											<div class="row mt-3" ng-if="historyStatus == undefined">
		                      <div class="col-12 d-none d-md-block d-lg-block">
		                          <!-- DATA TABLE-->
		                          <div class="table-responsive table--no-card mb-4" ng-if="historyStatus == undefined">
		                              <table class="table table-borderless table-striped">
		                                  <thead>
		                                      <tr>
																						<th title="S/N">S/N</th>
																						<th title="Type">Type</th>
																						<th title="Auth Type">Auth_Type</th>
																						<th title="Category">Category</th>
																						<th title="Serial">Serial</th>
																						<th title="Code">Code</th>
																						<th title="Fullname">Fullname</th>
																						<th title="Email">Email</th>
																						<th title="Phone Number">Phone Number</th>
																						<th title="Gender">Gender</th>
																						<th title="Part">Part</th>
																						<th title="Choir">Choir</th>
																						<th title="Zone">Zone</th>
																						<th title="Area">Area</th>
																						<th title="State">State</th>
																						<th title="Nation">Nation</th>
																						<th title="Authenticated">Authenticated</th>
																						<th title="Date Created">Date_Created</th>
		                                      </tr>
		                                  </thead>
		                                  <tbody>
		                                      <tr ng-repeat="someone in history | limitTo:numLimit:start | filter: search_history">
																						<td>#{{$index + 1 | number}}</td>
		                                        <td>{{someone.type}}</td>
																						<td>{{someone.auth_type}}</td>
																						<td>{{someone.category}}</td>
																						<td>{{someone.serial_number}}</td>
																						<td>{{someone.code}}</td>
																						<td>{{someone.firstname == null && someone.lastname == null ? null : someone.firstname + (someone.middlename != null ? " " + someone.middlename + " " : " ") + someone.lastname}}</td>
		                                        <td>{{someone.email}}</td>
																						<td>{{someone.phone_number}}</td>
																						<td>{{someone.gender}}</td>
		                                        <td>{{someone.part}}</td>
																						<td>{{someone.choir}}</td>
																						<td>{{someone.zone}}</td>
																						<td>{{someone.area}}</td>
																						<td>{{someone.state}}</td>
																						<td>{{someone.nation}}</td>
																						<td ng-if="someone.auth_type == 'Authenticated'"><span class="badge badge-pill badge-success shift-small">Yes</span></td>
																						<td ng-if="someone.auth_type == 'Unauthenticated'"><span class="badge badge-pill badge-danger shift-small">No</span></td>
		                                        <td>{{someone.added_date | fil_date | date}} @ {{someone.added_date | fil_time | fil_fmt_time}}</td>
		                                      </tr>
		                                  </tbody>
		                              </table>
		                          </div>
		                          <!-- END DATA TABLE-->
		                      </div>

													<div class="col-12 d-md-none d-lg-none d-xl-none">
														<div class="card" ng-if="historyStatus == undefined" ng-repeat="someone in history | limitTo:numLimit:start | filter: search_history">
															<div class="card-body">

																<div class="media" >

																	<div class="media-body">
																		<small class="float-right text-navy">
																			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-middle"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> {{someone.added_date | fil_date | date}}
																			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock align-middle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> {{someone.added_date | fil_time | fil_fmt_time}}
																		</small>
																		<strong>#{{$index + 1 | number}}</strong> <br>
																		<ul class="list-group list-group-flush">
																			<li class="list-group-item">Type : {{someone.type}}</li>
																			<li class="list-group-item">Auth Type : {{someone.auth_type}}</li>
																			<li class="list-group-item">Category : {{someone.category}}</li>
																			<li class="list-group-item">Serial : {{someone.serial_number}}</li>
																			<li class="list-group-item">Code : {{someone.code}}</li>
																			<li class="list-group-item">Fullname : {{someone.firstname == null && someone.lastname == null ? null : someone.firstname + (someone.middlename != null ? " " + someone.middlename + " " : " ") + someone.lastname}}</li>
																			<li class="list-group-item">Email : {{someone.email}}</li>
																			<li class="list-group-item">Mobile : {{someone.phone_number}}</li>
																			<li class="list-group-item">Gender : {{someone.gender}}</li>
																			<li class="list-group-item">Part : {{someone.part}}</li>
																			<li class="list-group-item">Choir : {{someone.choir}}</li>
																			<li class="list-group-item">Zone : {{someone.zone}}</li>
																			<li class="list-group-item">Area : {{someone.area}}</li>
																			<li class="list-group-item">State : {{someone.state}}</li>
																			<li class="list-group-item">Nation : {{someone.nation}}</li>
																			<li class="list-group-item"> Authenticated : <span class="badge badge-pill badge-success" ng-if="someone.auth_type == 'Authenticated'">Yes</span> <span class="badge badge-pill badge-danger" ng-if="someone.auth_type == 'Unauthenticated'">No</span></li>
																		</ul>
																	</div>
																</div>
															</div>

														</div>
													</div>
		                  </div>
											<div class="alert alert-danger alert-dismissible mt-3" role="alert" ng-if="historyStatus != undefined">
												<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">×</span>
												</button> -->
												<div class="alert-icon">
													<i class="far fa-fw fa-bell"></i>
												</div>
												<div class="alert-message">
													<strong>Error</strong> {{historyStatus}}
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<p class="mb-0">
								<a href="" class="text-muted"><strong>Data-Logic Intersys</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="https://xnyder.co">Support</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="js/vendor.js"></script>
	<script src="js/app.js"></script>

</body>

</html>
